body{
    background: url(images/column4.jpg) no-repeat center center fixed;
}

h1{
    color: white;
    text-align: center;
}
.nav{
    list-style: none;
    display: flex;
    justify-content: flex-end;
    gap:1rem;
    padding: 0;
    margin: 0;
}

ul li a{
    color: rgb(245, 245, 245);
    text-decoration: none;
    font-size: 100%;
}
ul li a:hover{
    color: rgb(22, 21, 21);
}

.subh{
    color: white;
    text-align: center;
    font-size: 30px;
}
p{
    color: white;
    font-size: 20px;
    text-align: center;
}
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
figcaption{
    color: white;
    text-align: center;
    font-size: 20px;
}
audio{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;
    border-radius:4px;
}

#contact{
    color: white;
    text-align: center;
    font-size: 20px;
}